.git
.gitignore

.venv
__pycache__
*.pyc
*.pyo
*.pyd
.python-version
.mypy_cache
.ruff_cache

.vscode
.idea
*.swp
*.swo

tests/
.pytest_cache
.coverage
htmlcov/

.env
.env.local
*.md
!README.md
Makefile
.pre-commit-config.yaml

dist/
build/
*.egg-info

docker-compose*.yml
dockerfile

app/data/vector_cache/
.mypy_cache/
.ruff_cache/
.pytest_cache/
